mqttstuff>=0.0.5
loguru>=0.7.3
pydantic-settings>=2.11.0
pydantic_extra_types>=2.10.2
PyYAML>=6.0.0
pytz>=2025.2
pydantic>=2.11.0
requests>=2.32.4


#     dependecies from mqttstuff:
#     'loguru>=0.7.3',
#     'pytz>=2025.2',
#     'paho-mqtt>=2.1.0',
#     'pydantic>=2.11.0',

